/.DS_Store
/*/en.subject.pdf
/*/.DS_Store
/.vscode

test.c

Module00/ex00/.DS_Store
Module00/ex01/Contact.hpp.gch
Module00/ex01/PhoneBook.hpp.gch
Module00/ex01/my_awesome_phonebook
Module00/ex02/a.out

Module01/ex00/Zombie.hpp.gch

Module06/ex00/convert

Module07/.vscode/

Module08/ex02/srcs/main.o
Module08/en.subject (1).pdf
Module08/ex02/MutatedAbomination

MOD09_SAVE/
Module09/ex00/data.csv
Module09/ex02/PmergeMe
Module09/ex02/srcs/PmergeMe.o
Module09/ex02/srcs/main.o